<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th>Average</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% top.each do |b| %>
      <tr>
        <td> <%= b.name %>  </td>
        <td> <%= round(b.average_rating) %> </td>
      </tr>
    <% end %>
  </tbody>
</table>